/.phpunit.result.cache
/logs/
/vendor/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/msdata-d.iml
/docker/notes.txt
/.idea/php.xml
/.idea/php-test-framework.xml
/.idea/vcs.xml
/doc2rst.phar
/docs/_build/
/docs/d2r-conf.php
/docs/d2r-order.php
/docs/d2r-styles.txt
/docs/make.bat
/docs/Makefile
/.idea/phpunit.xml
